.contacts li a.twitter:hover {
    color: #10c2f0;
}
.contacts li a.instagram:hover {
    color: #9d182f;
}
object.avatar {
    background: url(image/avatar1.svg);
    background-size: 15rem;
    height: 200px;
}
object.avatar:hover {
    background: url(image/avatar2.svg);
    background-size: 15rem;
}
main {
    background: url(image/bg.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
