.contacts li a.twitter:hover {
    color: #10c2f0;
}
.contacts li a.instagram:hover {
    color: #9d182f;
}
object.avatar {
    background: url(image/static_ava.jpg);
    background-size: 18rem;
    margin: 10% 0%;
    height: 18rem;
    width: 18rem;
}
object.avatar:hover {
    background: url(image/animation_ava.gif);
    background-size: 18rem;
}
main {
    background: url(image/bg.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
p.tags.small:hover {
    color: #571f19;
    background: url(image/fire.gif);
    background-size: 100%;
    height: 100px;
}